{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
<div class="login">
        <form action="/getdata/" class="login-form" method="post">
            {% csrf_token %}
            <input type="text" placeholder="username" name="username" />
            <input type="password" placeholder="password" name="password"/>
            <input type="submit" value="Login">
{#            <p><a href="#">Register</a></p>#}
        </form>
    </div>
</div>



{#<form action="/your-name/" method="post">#}
{#    {% csrf_token %}#}
{#    <label for="your_name">Your name: </label>#}
{#    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">#}
{#    <input type="submit" value="OK">#}
{#</form>#}


{#<div class="form">#}
{#        <form class="registration-form" method="post">#}
{#            <input type="text" placeholder="name" />#}
{#            <input type="password" placeholder="password" />#}
{#            <input type="text" placeholder="email" />#}
{#            <button>Create</button>#}
{#            <input type="Submit" name="submit" value="Submit"/>#}
{#        </form>#}
